# Database Configuration
POSTGRES_DB=api_spring
POSTGRES_USER=api_user
POSTGRES_PASSWORD=api_password

# Spring Boot Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/api_spring
SPRING_DATASOURCE_USERNAME=api_user
SPRING_DATASOURCE_PASSWORD=api_password
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false